/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.exec-once
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
.idea
/.vscode
/.zed
.techtrain/config.toml

*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

*.gem
*.rbc